.profile-container {
    padding: 100px;
    text-align: center;
}
.add-money-section,
.withdraw-money-section,
.profile-info {
    background-color: #fdfdfd;
   
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 8px;
    color: rgb(0, 0, 0);
}

select, input {
    padding: 10px;
    margin-bottom: 15px;
    width: 30%; 
    box-sizing: border-box;
}


.label-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    width: 30%;
    
}

.balance-info {
    font-size: 24px;

}

.balance {
    font-size: 24px;
   
}


.balance-section,
.add-money-section,
.withdraw-money-section {
    width: 50%; 
    margin-bottom: 20px; /
}

.money-actions-container {
    display: flex; 
    justify-content: space-between; 
}