body {
    margin: 0; 
    font-family: Arial, sans-serif; 
}

.profile-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
    background-color: #f0f0f0; 
}
.profile-container {
    width: 70%; 
    margin-bottom: 20px;
}

.profile-container h2 {
    padding-bottom: 5px;
}

.profile-info,
.profile-notiz,
.attr,
#uploadImageForm {
    background-color: #f9f9f9; 
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.attr {
    width: 50%;
}

#displayedImage {
    margin-top: 10px;
}



.properties-and-note {
    display: flex;
}

.profile-attr {
    width: 50%;
}

.profile-notiz {
    width: 50%;
}

.profile-container {
    margin-bottom: 20px; 
}

.user-profile-and-image {
    display: flex;
}


.profile-image {
    width: 50%; 
    margin-left: 20px
}

.user-profile {
    width: 50%; 
}
.properties-and-note {
    display: flex;
}

.profile-attr {
    width: 50%; 
}

.profile-notiz {
    width: 50%; 
    margin-left: 20px
}

.profile-notiz textarea {
    height: 150px; 
    width: 100%;
    resize: vertical;
}

#editProfileButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#editProfileButton:hover {
    background-color: #0056b3; 
}


   
.modal {
    display: none;    
    position: fixed;    
    z-index: 1;    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;    
    background-color: rgba(0, 0, 0, 0.5);    
}

   
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;    
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;    
    border-radius: 10px;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);    
}

   
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
