

body {
    background-color: white;
    margin: 0;
    padding: 0;
}



#create-search {
    background-color: #c4c4c4;
}


.search-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

    .search-item p {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .search-item a {
        text-decoration: none;
        color: #007bff;
    }

    .search-item button {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 8px;
        border-radius: 4px;
        cursor: pointer;
    }

        .search-item button:hover {
            background-color: #45a049;
        }

    .search-item .details {
        color: #555;
    }

#create-search {
    max-width: 20%;
}

#search-search-requests {
    max-width: 80%;
}



#searchForm div {
    display: block;
    margin-bottom: 10px;
}



#searchForm input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
}

#searchForm button {
    padding: 10px;
}







#searchList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    list-style-type: none;
}

.offer-info {
    margin-bottom: 10px;
    max-width: 100%;
}

    .offer-info p {
        margin: 0;
        line-height: 1.5;
    }

    .offer-info strong {
        font-weight: bold;
        margin-right: 5px;
    }



.border {
    height: 90%;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    border: 2px solid #ddd;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
    }


#chatModal h2 {
    margin-bottom: 20px;
}

#chatModal textarea {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    margin-bottom: 10px;
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.offer-content button {
    background-color: #007bff;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .offer-content button:hover {
        background-color: #0056b3;
    }
