﻿body {
    font-family: Arial, sans-serif;
    background: url('../img/Export/1x/semi_androidMyCargonautmdpi.png') center center fixed;
    background-size: auto 80%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: rgba(255, 255, 255, 1.0); 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}


.register-container {
    margin-top: 50px;
    min-height: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    width: 300px; 
}



.password-reset-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    width: 300px; 
    margin: auto; 
}

.logout-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    width: 300px; 
    margin: auto; 
    text-align: center;
}

.profile-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    max-width: 800px; 
    margin: auto; 
    width: 100%; 
}

.profile-info p {
    margin-bottom: 10px;
}

.profile-picture img {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    object-fit: cover;
}



.offer-layout {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
}

.offer-details, .bookings-section {
    flex-grow: 1; 
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}


.offer-layout {
    max-width: 1200px;
    margin: auto;
}


.input-group {
    margin-bottom: 15px;
}

    .input-group label {
        display: block;
        margin-bottom: 5px;
    }

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
input {
    padding: 10px;
    margin-bottom: 10px;
   
}


button:hover {
    background-color: #0056b3;
}

.additional-options {
    margin-top: 15px;
    text-align: center;
}

.additional-options a {
    text-decoration: none;
    color: #007bff;
    margin: 0 5px;
}

.additional-options a:hover {
    text-decoration: underline;
}

.profile-link {
    text-decoration: none;
    color: #007bff;
}