body {
    background-color: white;
    margin: 0;
    padding: 0;
}


.vehicle-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px;
    margin-left: 8x;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #e45c5c;

}
.change-button {
    background-color: 4CAF50;
    color: white;
    border: none;
    padding: 8px;
    margin-left: 8x;
    border-radius: 4px;
    cursor: pointer;
}
.change-button:hover {
    background-color: 45a049;
}

.vehicle-item .details {
    color: #555;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.vehicle-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vehicle-info button {
    margin-left: 5px;
}


.border {
    height: 90%;
    width: 50%;
    margin: 0 auto;
    padding: 20px; 
    background-color: #f0f0f0; 
    border-radius: 8px;
    border: 2px  solid #ddd; 

}